body { width: 600px; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 0.8em }

#mapViewer {
    width: 598px;
    height: 370px;
    border: thin solid #CCCCCC;
}

#loader {
    height: 20px;
    width: 20px;
}
